@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1669034464714') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haoyou:before {
  content: "\f014b";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-shangpin:before {
  content: "\e888";
}

.icon-quanxianshezhi:before {
  content: "\e678";
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e789";
}

.icon-tianchongxing-:before {
  content: "\e638";
}

.icon-quanxian:before {
  content: "\e656";
}

.icon-statistics-full:before {
  content: "\e86b";
}

